* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(46,61,89,1) 0%, rgba(20,26,38,1) 60%, rgba(13,13,13,1) 100%);
    animation: redNow 27s infinite;
    -webkit-animation: redNow 27s infinite;
    -moz-animation: redNow 27s infinite;
    -o-animation: redNow 27s infinite;
}

#lyrics {
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 400;
    font-size: 36px;
}

#first {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 45%;
    left: 25%;
    color: white;
    animation: moveDown 16s ease-out;
    -webkit-animation: moveDown 16s ease-out;
    -moz-animation: moveDown 16s ease-out;
    -o-animation: moveDown 16s ease-out;
}

#second {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 52%;
    left: 25%;
    color: white;
    animation: moveDown 12s ease-out;
    -webkit-animation: moveDown 12s ease-out;
    -moz-animation: moveDown 12s ease-out;
    -o-animation: moveDown 12s ease-out;
}

#lyrics a {
    text-decoration: none;
    color: red; 
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    animation: fadeIn 14s;
    -webkit-animation: fadeIn 14s;
    -moz-animation: fadeIn 14s;
    -o-animation: fadeIn 14s;
}

#lyrics a:hover {
    display: inline-block;
    animation: hellNow 8s ease-out;
    -webkit-animation: hellNow 8s ease-out;
    -moz-animation: hellNow 8s ease-out;
    -o-animation: hellNow 8s ease-out;
}

footer a {
    text-decoration: none;
    color: white;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 200;
    font-size: 15px;
    position: fixed;
    bottom: 4%;
    right: 4%;
    animation: 3s ease-out fadeIn;
    -webkit-animation: 3s ease-out fadeIn;
    -moz-animation: 3s ease-out fadeIn;
    -o-animation: 3s ease-out fadeIn;
}

footer a:hover {
    display: inline-block;
    transition-duration: 2s;
    color: lightblue;
    transform: scale(1.35);
}

@keyframes moveDown {
    0% {
        transform: translateY(-1000%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes redNow {
    0% {
        background: linear-gradient(180deg, rgba(46,61,89,1) 0%, rgba(20,26,38,1) 60%, rgba(13,13,13,1) 100%);
    }
  
    100% {
        background: linear-gradient(360deg, rgba(255,25,25,1) 0%, rgba(93,30,30,1) 60%, rgba(0,0,0,1) 100%);
    }
}

@keyframes hellNow {
    0% {
        transform: translate(0,0) scale(1) rotate(0deg);
    }
  
    100% {
        transform: translate(0, 10em) scale(25) rotate(360deg);
    }
}