* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(46,61,89,1) 0%, rgba(20,26,38,1) 60%, rgba(13,13,13,1) 100%);
}

#lyrics {
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 400;
    font-size: 36px;
}

#first {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 45%;
    left: 25%;
    color: white;
    animation: moveRight 8s ease-out;
    -webkit-animation: moveRight 8s ease-out;
    -moz-animation: moveRight 8s ease-out;
    -o-animation: moveRight 8s ease-out;
}

#second {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 52%;
    left: 25%;
    color: white;
    animation: moveLeft 14s ease-out;
    -webkit-animation: moveLeft 14s ease-out;
    -moz-animation: moveLeft 14s ease-out;
    -o-animation: moveLeft 14s ease-out;
}

#lyrics a {
    text-decoration: none;
    color: yellow;  
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    animation: fadeIn 14s;
    -webkit-animation: fadeIn 14s;
    -moz-animation: fadeIn 14s;
    -o-animation: fadeIn 14s;
}

#lyrics a:hover {
    display: inline-block;
    transition-duration: 3s;
    background-color: darkcyan;
    border-radius: 2em;
    padding: 10px;
    transform: translate(205px, -65px) scale(1.5);
    -webkit-transform: translate(205px, -65px) scale(1.5);
    -moz-transform: translate(205px, -65px) scale(1.5);
    -ms-transform: translate(205px, -65px) scale(1.5);
    -o-transform: translate(205px, -65px) scale(1.5);
}

footer a {
    text-decoration: none;
    color: white;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 200;
    font-size: 15px;
    position: fixed;
    bottom: 4%;
    right: 4%;
    animation: 3s ease-out fadeIn;
    -webkit-animation: 3s ease-out fadeIn;
    -moz-animation: 3s ease-out fadeIn;
    -o-animation: 3s ease-out fadeIn;
}

footer a:hover {
    display: inline-block;
    transition-duration: 2s;
    color: lightblue;
    transform: scale(1.35);
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}