* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(46,61,89,1) 0%, rgba(20,26,38,1) 60%, rgba(13,13,13,1) 100%);
}

#lyrics {
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 400;
    font-size: 36px;
}

#first {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 45%;
    left: 25%;
    color: white;
    animation: moveDown 16s ease-out;
    -webkit-animation: moveDown 16s ease-out;
    -moz-animation: moveDown 16s ease-out;
    -o-animation: moveDown 16s ease-out;
}

#song {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 55%;
    left: 25%;
}

#song a {
    color: white;
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    font-size: 46px;
    animation: fadeIn 35s;
    -webkit-animation: fadeIn 35s;
    -moz-animation: fadeIn 35s;
    -o-animation: fadeIn 35s;
}

#song a:hover {
    display: inline-block;
    transition-duration: 2s;
    color: lightblue;
    transform: scale(1.35);
}

@keyframes moveDown {
    0% {
        transform: translateY(-1000%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}