* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(46,61,89,1) 0%, rgba(20,26,38,1) 60%, rgba(13,13,13,1) 100%);
    animation: brightNow 14s ease-in-out;
    -webkit-animation: saturateNow 14s ease-in-out;
    -moz-animation: brightNow 14s ease-in-out;
    -o-animation: brightNow 14s ease-in-out;
}

#lyrics {
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 400;
    font-size: 36px;
}

#first {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 45%;
    left: 25%;
    color: white;
    animation: 3s ease fadeIn, float 6s ease-in-out infinite;
    -webkit-animation: 3s ease fadeIn, float 6s ease-in-out infinite;
    -moz-animation: 3s ease fadeIn, float 6s ease-in-out infinite;
    -o-animation: 3s ease fadeIn, float 6s ease-in-out infinite;
}

#second {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 52%;
    left: 25%;
    color: white;
    animation: 10s ease fadeIn, float 6s ease-in-out infinite;
    -webkit-animation: 10s ease fadeIn, float 6s ease-in-out infinite;
    -moz-animation: 10s ease fadeIn, float 6s ease-in-out infinite;
    -o-animation: 10s ease fadeIn, float 6s ease-in-out infinite;
}

#one {
    animation: skewNow 12s infinite, colorChange 3s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 3s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 3s infinite;
    -o-animation: skewNow 12s infinite, colorChange 3s infinite;
}

#two{
    animation: skewNow 12s infinite, colorChange 2s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 2s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 2s infinite;
    -o-animation: skewNow 12s infinite, colorChange 2s infinite;
}

#three {
    animation: skewNow 12s infinite, colorChange 3.33s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 3.33s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 3.33s infinite;
    -o-animation: skewNow 12s infinite, colorChange 3.33s infinite;
}

#four {
    animation: skewNow 12s infinite, colorChange 1s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 1s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 1s infinite;
    -o-animation: skewNow 12s infinite, colorChange 1s infinite;
}

#five {
    animation: skewNow 12s infinite, colorChange 4.5s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 4.5s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 4.5s infinite;
    -o-animation: skewNow 12s infinite, colorChange 4.5s infinite;
}

#six {
    animation: skewNow 12s infinite, colorChange 5.5s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 5.5s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 5.5s infinite;
    -o-animation: skewNow 12s infinite, colorChange 5.5s infinite;
}

#seven {
    animation: skewNow 12s infinite, colorChange 2.5s infinite;
    -webkit-animation: skewNow 12s infinite, colorChange 2.5s infinite;
    -moz-animation: skewNow 12s infinite, colorChange 2.5s infinite;
    -o-animation: skewNow 12s infinite, colorChange 2.5s infinite;
}

a {
    text-decoration: none; 
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
}

footer a {
    text-decoration: none;
    color: white;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 200;
    font-size: 15px;
    position: fixed;
    bottom: 4%;
    right: 4%;
    animation: 3s ease fadeIn;
    -webkit-animation: 3s ease fadeIn;
    -moz-animation: 3s ease fadeIn;
    -o-animation: 4s ease fadeIn;
}

footer a:hover {
    display: inline-block;
    transition-duration: 2s;
    color: lightblue;
    transform: scale(1.35);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes skewNow {
    0% {
        transform: skew(0deg);
    }

    50% {
        transform: skew(180deg);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes colorChange {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: yellow;
    }

    60% {
        color: green;
    }

    80% {
        color: violet;
    }

    100% {
        color: red;
    }
}

@keyframes saturateNow {
    0% {
        backdrop-filter:saturate(1);
    }

    50% {
        backdrop-filter:saturate(100);
    }

    100% {
        backdrop-filter:saturate(1);
    }
}