* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(46,61,89,1) 0%, rgba(20,26,38,1) 60%, rgba(13,13,13,1) 100%);
    animation: sepiaNow 40s ease-in-out;
    -webkit-animation: sepiaNow 40s ease-in-out;
    -moz-animation: sepiaNow 40s ease-in-out;
    -o-animation: sepiaNow 40s ease-in-out;
}

#lyrics {
    text-decoration: none;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 400;
    font-size: 36px;
}

#first {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 45%;
    left: 25%;
    color: white;
    animation: moveUp 12s ease-out;
    -webkit-animation: moveUp 12s ease-out;
    -moz-animation: moveUp 12s ease-out;
    -o-animation: moveUp 12s ease-out;
}

#second {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50%;
    top: 52%;
    left: 25%;
    color: white;
    animation: moveUp 16s ease-out;
    -webkit-animation: moveUp 16s ease-out;
    -moz-animation: moveUp 16s ease-out;
    -o-animation: moveUp 16s ease-out;
}

#lyrics a {
    text-decoration: none;
    color: grey;
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    animation: fadeIn 14s;
    -webkit-animation: fadeIn 14s;
    -moz-animation: fadeIn 14s;
    -o-animation: fadeIn 14s;
}

#lyrics a:hover {
    display: inline-block;
    animation: smallNow 14s ease-out;
    -webkit-animation: smallNow 14s ease-out;
    -moz-animation: smallNow 14s ease-out;
    -o-animation: smallNow 14s ease-out;
}

footer a {
    text-decoration: none;
    color: white;
    text-shadow: rgba(255,255,255,0.35) 0px 0px 25px;
    font-family: "Cairo Play", sans-serif;
    font-weight: 200;
    font-size: 15px;
    position: fixed;
    bottom: 4%;
    right: 4%;
    animation: 3s ease-out fadeIn;
    -webkit-animation: 3s ease-out fadeIn;
    -moz-animation: 3s ease-out fadeIn;
    -o-animation: 3s ease-out fadeIn;
}

footer a:hover {
    display: inline-block;
    transition-duration: 2s;
    color: lightblue;
    transform: scale(1.35);
}

@keyframes moveUp {
    0% {
        transform: translateY(1000%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sepiaNow {
    0% {
        backdrop-filter:sepia(0);
    }

    20% {
        backdrop-filter:sepia(1);
    }

    100% {
        backdrop-filter:sepia(0);
    }
}

@keyframes smallNow {
    0% {
        transform: scale(1);
    }
  
    100% {
        transform: scale(0.2);
    }
}